*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    margin: 100px auto 20px auto;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: cursive;
}


.submain1{
    margin: 80px auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    width: 500px;
    border: 1px solid black;
    border-radius: 0.5em;
}

.submain2{
    border: 1px solid black;
    border-radius: 0.5em;
    max-height: 400px;
    overflow-y: scroll;
}

#SearchInput{
    height: 3em;
    width: 20rem;
    border: 0px;
}

#search-item-2{
    height: 2.6rem;
    width: 3rem;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

input:focus{
    outline: none;
}

li{
    list-style: none;
    padding:  10px 35px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    color : black;
    font-family: monospace;
}

li:hover{
    background-color: #e9f3ff;
}

::placeholder{
    font-family: cursive;
}

